<div class="container">
  <div class="about-top row">
    <div class="col-md-12 text-center">
      <h2>mama弁とは？<h2>
        <p class="about-text">
          お子様のお弁当を作る際に、キャラ弁や彩りを良くしたり、
          <br>
          食べざかりの年代のお子様を満足させるお弁当を作りたいけれど上手く作れないなど、
          <br>
          悩めるママ達を助けるお弁当投稿サイトとなります。
       　　<br>
          小さい年齢のお子様から食べざかりの年齢のお子様を持つママ達に、
          <br>
          「お子様のお弁当に迷った時」、「他の人がどんなお弁当を作っているのか知りたい時」、
          <br>
          「お子様が喜んでくれたお弁当を投稿したい時」などに是非活用してみてください。
        </p>
    </div>
  </div>

  <div class="about-top row">
    <div class="col-md-6">
      <h2>どんな投稿があるのか見てみる<h2>
        <p class="about-text">
          世の中のママ達はお子様のお弁当を作る際に、
          <br>
          様々な材料を使用し、工夫をして作っています。
          <br>
          他のママ達がどんなお弁当を作成し投稿しているか
          <br>
          見てみましょう。
          <br>
          <%= link_to "<<投稿を見てみる>>", posts_path, class: "fas fa-utensils about" %>
        </p>
    </div>
    <div class="about-image1 col-md-6"></div>
  </div>

  <div class="about-top row">
    <div class="about-image2 col-md-6"></div>
    <div class="col-md-6">
      <h2>自分で投稿してみる<h2>
        <p class="about-text">
          ママ達はお子様のお弁当を作る際に、
          <br>
          「何を作ればいいか」や「どう作ったらいいか」と
          <br>
          悩んだりしています。
          <br>
          自分が上手く作れた場合は是非投稿し、
          <br>
          他のママ達にもシェアしてあげましょう。
          <br>
          <%= link_to "<<投稿してみる>>", new_post_path, class: "fas fa-utensils about" %>
        </p>
    </div>
  </div>

</div>

