<% if @allow_comment %>
    $(".my_comment").html("<%= j(render 'users/post_comments/my_comment', { post_comments: @post_comments}) %>");
    $("textarea").val('')
<% else %>
    $("#comment_error").html("<p><strong>※コメントは1投稿につき1回までとなります。コメントを修正する場合は現在のコメントを削除してからコメントしてください。</strong></p>")
<% end %>