/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.btn {
  font-size: 20px;
  margin-right: 10px;
}

.nav-link1 {
  margin-right: 15px;
}

.about-top {
  margin-top: 60px;
}

.about-text {
  font-size: 20px;
}

.about-image1 {
  background-image: url(about1.png);
  background-size: cover;
  background-position: top center;
}

.about-image2 {
  background-image: url(about2.png);
  background-size: cover;
  background-position: top center;
}

.title-text {
  font-size: 20px;
}

body {
  background-color: #FEF8F6;
}

main {
  padding: 30px 0;
  background-color: #FEF8F6;
}

.main-visual {
  width: 100%;
  height: 400px;
  margin-top: 40px;
  background-image: url(top.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  display: none;
  width: 100%;
  height: 400px;
  color: white;
  text-align: center;
  padding-top: 80px;
  background-color: rgba(0, 0, 0, 0.3);
}

.ranking-posts {
  margin: 45px 0;
}

footer {
  width: 100%;
  height: auto;
  background-color: #F59D7F;
  text-align: auto;
  padding: 10px 0;
}
