/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'tagsinput';

@font-face{
   font-family: "font";
   src: font-url('irohamaru-Medium.ttf') format('truetype');
   font-style: italic;
   font-weight: bold;
 }

/*========= 全体 ===============*/

// ヘッダー
header {
  width: 100%;
  height: 120px;
  background-color: #F59D7F;
}

// ヘッダーロゴ
.logo {
  padding-left: 30px;
  line-height: 120px;
}

//　ボタン
.btn {
  font-size: 20px;
  margin-right: 10px;
  margin-left: 20px;
}

// ようこそ〜さん
.nav-link {
  color: #AA5336;
  font-size: 20px;
}

// 各ページ
p, h2, h3, h4, h5, td, th {
  color: #AA5336;
}

// ハンバーガーメニュースライド
.nav-link1 {
  margin-right: 15px;
}

// 画面色
body {
  background-color: #FEF8F6;
  font-family: 'font';
}

// 画面色
main {
  background-color: #FEF8F6;
}

// フッター
footer {
  width: 100%;
  height: 100px;
  background-color: #F59D7F;
  text-align: auto;
}

.footer {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 15px;
}

.footer-text {
  padding-top: 25px;
}

.footer-contact {
  position: absolute;
  right: 50px;
  height: 100%;
}

/*========= USER ===============*/

/*========= homes ===============*/

// トップページ slick

.slick-track {
  width: 100%;
  height: 400px;
}

.image1 {
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
  background-image: image-url("top.png");
  background-size: cover;
  background-position: center;
}

.image2 {
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
  background-image: image-url("image2.png");
  background-size: cover;
  background-position: center;
}

.image3 {
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
  background-image: image-url("image3.png");
  background-size: cover;
  background-position: center;
}

.image4 {
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
  background-image: image-url("image4.png");
  background-size: cover;
  background-position: center;
}

.image5 {
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
  background-image: image-url("image5.png");
  background-size: cover;
  background-position: center;
}

// トップページ
.ranking-posts, .new-posts {
  margin: 20px 0px;
}

// トップページ
.top {
  background-color: #faedc5;
  border-color: #AA5336;
  border: 1px solid #AA5336;
  margin: 0px 5px;
}

// トップページ ランキング
.ranking {
  background-color: #FEF8F6;
  font-size: 20px;
}

// アバウト画面
.about-top {
  margin-top: 60px;
  margin-bottom: 20px;
}

// アバウト画面
.about-text {
  font-size: 20px;
}

// アバウト画面
.about-image1 {
  background-image: image-url("about1.png");
  height: 300px;
  background-size: cover;
  background-position: center;
}

// アバウト画面
.about-image2 {
  background-image: image-url("about2.png");
  height: 300px;
  background-size: cover;
  background-position: top center;
}

// アバウト画面
.title-text {
  font-size: 20px;
}

/*========= posts ===============*/

// 新規投稿preview
#preview {
  height: 360px;
  width: 450px;
}

// 新規投稿preview_recipe
#preview_recipe1, #preview_recipe2, #preview_recipe3, #preview_recipe4, #preview_recipe5, #preview_recipe6, #preview_recipe7, #preview_recipe8, #preview_recipe9 {
  height: 200px;
  width: 340px;
}

// 投稿一覧
.post-index {
  background-color: #faedc5;
  margin: 5px 5px;
  border-color: #AA5336;
  border: 1px solid #AA5336;
}

// 投稿一覧 tag
.tag {
  margin: 20px;
}

// 投稿詳細
.post-show {
  width: 600px;
}

// 投稿詳細
.post-show-btn {
  margin-bottom: 10px;
}

/*========= post_comments ===============*/

// コメント一覧
.comment-index {
  background-color: #faedc5;
  border-color: #AA5336;
  border: 1px solid #AA5336;
  width: 344px;
  height: 350px;
  margin: 5px 5px;
}

// コメントフォーム
.comment-form {
  margin-top: 10px;
}

/*========= faborites ===============*/

// お気に入り一覧
.favorite-index {
  background-color: #faedc5;
  border-color: #AA5336;
  border: 1px solid #AA5336;
  margin: 5px 5px;
}

// お気に入りボタン
.favorite-btn {
  margin-bottom: 10px;
}

/*========= user ===============*/

// 詳細ボタン
.user-show-btn {
  margin-left: 20%;
}

// 詳細
.user-show {
  background-color: #faedc5;
  border-color: #AA5336;
  border: 1px solid #AA5336;
}

// 編集
.user-edit {
  margin-left: 15%;
  background-color: #faedc5;
  border: 1px solid #AA5336;
  border-color: #AA5336;
}

// 退会画面
.unsubscribe {
  margin-bottom: 135px;
  margin-top: 135px;
}

/*========= ページネーションのためのCSS ===============*/

.pagination>li>a {
  border-color: #AA5336;     /*枠線の色*/
  color: #AA5336;   /*文字の色を変える*/
  background-color: #faedc5;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #faedc5;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
  color: #AA5336;
  background-color: #F59D7F;
}

.page-item.active .page-link {
  background-color: #AA5336;
  border-color: #AA5336;
}

/*========= ページトップのためのCSS ===============*/
/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 10px;
	bottom:30px;
	z-index: 2;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(150px);
}

/*　上に上がる動き　*/
#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(150px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*　下に下がる動き　*/
#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(150px);
  }
}

/*画像の切り替えと動き*/
#page-top a {
    /*aタグの形状*/
	display: block;
	width: 100px;
	height: 100px;
	color: #333;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size:0.6rem;
    /*背景画像の指定*/
	background: image-url("scroll-logo1.png") no-repeat center;
	background-size: contain;
}

#page-top.floatAnime a{
	width: 100px;
	height: 130px;
    /*背景画像の指定*/
	background: image-url("scroll-logo2.png") no-repeat center;
	background-size: contain;
    /*アニメーションの指定*/
	animation: floatAnime 2s linear infinite;
	opacity: 0;
}

@keyframes floatAnime {
  0% { transform: translateX(0); opacity: 0; }
  25% { transform: translateX(-6px);opacity: 1; }
  50% { transform: translateX(0) }
  100% { transform: translateX(6px);opacity: 1; }
}

/*Page Topと書かれたテキストの位置*/
#page-top span{
    position: absolute;
    bottom: -20px;
    right: 20px;
	color: #666;
}
/*検証のためのCSS*/
section{
padding: 500px 0;
}

/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
	top:0;
  right: -120%;
	width:100%;
  height: 100vh;/*ナビの高さ*/
	background: #F59D7F;
  /*動き*/
	transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;/*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
	list-style: none;
  text-align: center;
}

#g-nav li a{
	color: #333;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
  z-index: 9999;/*ボタンを最前面に*/
	top:10px;
	right: 10px;
	cursor: pointer;
  width: 100px;
  height:100px;
}

/*×に変化*/
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 5px;
  border-radius: 15px;
	background-color: #AA5336;
  width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}