<footer>
  <div class="footer">
      <div class='footer-text'>
        <h5>©2021 mama弁 All Rights Reserved.</h5>
      </div>
      <div class='footer-contact'>
        <p>
          お問い合わせはこちら<br>
          Tel:000-0000-000<br>
          Mail:admin@gmail.com
        </p>
      </div>
  </div>
</footer>