<footer>
  <div class="footer">
      <div class='footer-text'>
        <p>©2021 mama弁 All Rights Reserved.</p>
      </div>
      <div class='footer-contact'>
        <p>お問い合わせはこちら</p>
        <p>admin@gmail.com</p>
      </div>
  </div>
</footer>